# Python for Data Science - session 2

### 1. Variables and math in Python

#### 1.1 Math operators
Start by using Python as a simple calculator: the Python interpreter reads your code, evaluates the expression, and outputs the result.

In [221]:
# add two integers
2 + 2

4

In [222]:
# multiply two integers
2 * 2

4

In [223]:
# spaces don't matter here, but keep them consistent
2*3   +   10

16

In [224]:
# divide two integers
6 / 3

2.0

In [225]:
# raise 2 to the 4th power
2 ** 4

16

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| *  | multiplication |
| **  | to the power of |
| %  | mod |

#### 1.2 Working with variables
Use variables to store information and attach a name to it.

In [227]:
# you can create a variable, such as x here, and assign a value to it
x = 5

In [228]:
# to inspect a value, just call it
x

5

In [229]:
# you can perform calculations on variables
x + 3

8

In [230]:
# what's the value of x now?
x

5

In [231]:
# to update the value of a variable, you have to do assignment again
x = x + 3

In [232]:
# now what's the value of x?
x

8

In [233]:
# create a new variable y from a calculation involving x
y = x + 2
y

10

In [234]:
# calling two variables only displays the last one
x
y

10

In [235]:
# use the print() function to output value(s)
print(x)
print(y)

8
10

In [236]:
# separate two values by commas to output on the same line
print(x,y)

8 10

In [237]:
# you can also print the output of an expression
print(x * y)

80

NOTE: Use valid variable names!
* Variable names can contain letters, numbers, and the underscore character.
* You can't begin variable names with a digit, or use any of Python's _reserved words_ (eg. False, list, None, zip, else, class, ...).
* Don't use a space in the middle of a variable name.

| result | variable name |
|----|----|
| Valid | my_float, xyz_123, zip_code |
| Error! | my float, 123_xyz, zip |

#### 1.3 Getting help and using auto-complete

In [ ]:
# get iPython help on an expression by putting ? after it
len?

In [ ]:
# use auto-complete (Control-Space) to fill in the rest of Python statements
prin

In [ ]:
# also use it to complete variable or functions that you defined yourself
name_of_course = "Python for Data Science"

In [ ]:
name_of_cou

### 2. Data types: int, float, string
These are the most basic building blocks when handling data in Python. In languages like C++ the programmer has to declare the type of any variable before using it. By contrast, Python will **infer the type of variable you want** based on the characters surrounding it. 

For example, it will interpret whole numbers as integers and text surrounded by quote marks as strings.

This keeps the syntax more 'natural'. But take care to learn the rules your Python interpreter applies.

In [85]:
# integers are whole numbers
x = 10
type(x)

int

In [86]:
# floats are floating point (or decimal) numbers
y = 4.25
type(y)

float

In [87]:
# strings are sets of characters in a row, denoted by single or double quotes
course_name = 'Python for Data Science'

In [88]:
# another data type is a Boolean, which has the possible values True or False

my_enrollment_status = True
type(my_enrollment_status)

bool

In [89]:
# if a variable is not defined, trying to use it will give you an error
z + 10

60

In [90]:
# remember that integers can be manipulated using math operations
x + 50

60

In [204]:
# an object's type defines what you can do with it. 
# Python throws an error if you ask it to do something that doesn't make sense (eg. divide two strings)

#### 2.1. Manipulating strings
Strings contain sequences of characters. There is a built-in class _str_ for strings. Objects of class _str_ have their own set of rules, and a set of built-in functions: eg. capitalize with `mystring.upper()`

In [131]:
# this is a string (define using single quotes or double quotes).
mystring = "I am a string. Humans can interpret me easily"

In [132]:
print(mystring)

I am a string. Humans can interpret me easily

In [120]:
# strings can added together (concatenated)
add_chunk = '. I love strings'
mystring + add_chunk

'I am a string. Humans can interpret me easily. I love strings'

In [121]:
# but they can't be subtracted
mystring - add_chunk

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [122]:
# they can be repeated with *
add_chunk * 3

'. I love strings. I love strings. I love strings'

In [207]:
# all objects of class str have the same set of built-in functions ('string methods') - see handy reference below.
# you can split a string:

mystring.split('.')

['I am a string', ' Humans can interpret me easily']

In [208]:
# or replace all instances of a sub-string:
mystring.replace('string','human')

'I am a human. Humans can interpret me easily'

In [209]:
# make all characters lower case:

mystring.lower()

'i am a string. humans can interpret me easily'

In [210]:
# or format the string to include other elements:

"The value of pi is approximately {}".format(3.14159)

'The value of pi is approximately 3.14159'

HANDY REFERENCE: guide to [string methods](https://www.w3schools.com/python/python_ref_string.asp).

#### 2.2 Converting between types
Often you need to convert variables to other types, especially to make them work together. Use the _int()_, _str()_ or _float()_ functions to convert into these types.

In [211]:
# Python will sometimes change variable types during an operation (without warning you)

ronaldo_salary = 137000000
type(ronaldo_salary)

int

In [213]:
# division always returns a float

daily_pay = ronaldo_salary / 365
print(daily_pay)
type(daily_pay)

375342.4657534247

float

In [215]:
# convert to integer using int()
daily_pay  = int(daily_pay)
daily_pay

375342

In [217]:
# what happens when you add a string and a numeric?
string1 = "Ronaldo's daily pay is (!!): USD $"
print(string1 + daily_pay)

TypeError: can only concatenate str (not "int") to str

In [218]:
# change the integer to a string first
daily_pay = str(daily_pay)
type(daily_pay)

str

In [219]:
# does it work now?
print(string1 + daily_pay)

Ronaldo's daily salary is (how much?!!): USD $375342

In [220]:
# NB: keep track of your variable types. any math operation involving a float returns a float.

12.5 * 10

125.0

### 3. Data types: containers
Ints, floats and strings are the most basic data structures (think of them as atoms). Next, we'll look at data types that combine those atoms. Lists, tuples and dictionaries are compound data structures that contain other items.

|Data structure | Properties| Syntax|
|----|----|----|
|List | Ordered, mutable sequence | mylist = [1,2,3] |
|Tuple | Ordered, immutable sequence | mytuple = (1,2,3) |
|Set | Unordered set of unique values | myset = set(1,2,3) |
|Dictionary | Mutable set of key, value pairs | mydict = {'first_value':1, 'second_value:2} |

#### 3.1 Manipulating lists
Lists are collections of items. To create one, put a series of items in square brackets, separated by commas. Lists can contain items of different types. They are helpful when your data has an order and may need to be changed in place.

In [192]:
# create a list of strings
weekdays = ['monday','tuesday','wednesday','thursday','friday']
weekdays

['monday', 'tuesday', 'wednesday', 'thursday', 'friday']

In [193]:
# Lists are ordered collections; they are indexed starting at zero.
# To get an individual item, use square brackets and the appropriate index value.
weekdays[0]

'monday'

In [194]:
# select slices (eg. the first to the fourth item) with square bracket notation

weekdays[0:3]

['monday', 'tuesday', 'wednesday']

In [195]:
# check the type of items in a list
type(weekdays[3])

str

In [196]:
# a list is a mutable, you can change its contents in-place
weekdays[3] = 'thursday - practice Python!'
weekdays

['monday', 'tuesday', 'wednesday', 'thursday - practice Python!', 'friday']

In [197]:
# add an item to a list with append()
weekdays.append('saturday')
weekdays

['monday',
 'tuesday',
 'wednesday',
 'thursday - practice Python!',
 'friday',
 'saturday']

In [198]:
# test for a value in your list
'saturday' in weekdays

True

In [199]:
# use .remove() to clean up the weekdays list

weekdays.remove('saturday')
weekdays

['monday', 'tuesday', 'wednesday', 'thursday - practice Python!', 'friday']

In [200]:
# concatenate two lists
odds = [1,3,5]
evens = [2,4,6]
all_nums = odds + evens
all_nums

[1, 3, 5, 2, 4, 6]

In [201]:
# the built-in function len() also applies to lists
len(all_nums)

6

### 4. Logic and control flow - quick intro

Definition of **control flow**:
* In a simple script, program execution starts at the top and executes each instruction in order. 
* **Control flow** statements can cause the execution to loop and skip instructions based on conditions.

#### 4.1 Loops and iterables
Definition: an **iterable** is an object capable of returning its members one at a time. Strings, lists and dictionaries are all iterables.

A **for loop** runs a block of code repeatedly "for" each item in an iterable. End the declaration with : and indent the subsidiary code.

In [ ]:
for color in ['red','green','blue']:
    print("I love " + color)

In [ ]:
# or characters in a string
for letter in 'abcd':
    print(letter.upper())

In [202]:
# the range() function lists all whole numbers in a specified range
for n in range(5):
    print("I ate {} donuts".format(n + 1))

I ate 1 donuts
I ate 2 donuts
I ate 3 donuts
I ate 4 donuts
I ate 5 donuts

#### 4.2 Logic operators

We test conditions using logic operators.

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| <= | less than or equal to |
| > | greater than |
| >= | greater than or equal to |

In [ ]:
# NOTE: We declare variables using '='
a = 5
b = 7

In [ ]:
# But compare them using '=='
a == b

In [ ]:
# Test whether a does not equal b
a != b

In [ ]:
# Logic expressions evaluate to True or False (datatype: Boolean)

test = b > a

test

In [ ]:
type(test)

#### 4.3 Conditional statements with if

My pet Python is a vegetarian. She will test whether variable 'food' is 'burger', 'chicken' or 'veg', then decide whether to eat.

Do this with 'if', 'elif' (else if), and 'else'.

In [ ]:
food = 'veg'

In [ ]:
if food == 'veg':
    print ('yum')
elif food == 'chicken':
    print ('hmm maybe')
elif food == 'burger':
    print ('no thanks')
else:
    pass

NOTE: Here's how the structure works:
* start with an 'if' statement, specifying the logical test to apply
* make sure your 'if' statement ends with :
* **indent the conditional code block.** Whatever code should be executed if the condition is true, indent it with a tab.
* test additional actions using 'elif', and any other actions with 'else'.

#### 4.4 Testing conditions inside a loop
Combining loops with logic allows you to build more sophisticated code structures:

In [ ]:
days = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

for day in days:
    if day == 'Sat':
        location = '--> Beach!'
    elif day == 'Sun':
        location = '--> My sofa!'
    else:
        location = '--> MC5-215B'
    print(day, location)

In [ ]:
# EXAMPLE 2: is your pet allowed?

authorized_pets = ['small dog', 'cat', 'hamster','budgerigar']

print("Welcome to Nick's Apartment Block.")
my_pet = input("Type your pet's breed to see if it's accepted:")

if my_pet in authorized_pets:
    print("Congratulations, your {} is welcome here!".format(my_pet))
else:
    print("\nSorry your {} is NOT ACCEPTED".format(my_pet))