# Python for Data Science - Lab 1
Work through the following exercises. Get through as many as you can in the time allotted.
The box lists additional Python functionality that may help you.

| Task | Python function |
|----|----|
| Import the code library 'random' | import random |
| Generate random numbers | random.randint() |
| Prompt the user for some text | my_variable = input() |

#### EXERCISE 1: Number and string drills
_Objective: manipulate integers, floats and strings_

(a) Convert the temperature forecast from Centigrade to Fahrenheit

CONVERSION FORMULA (C to F): First divide by 0.556, then add 32.

In [2]:
# YOUR CODE HERE:

temp_forecast_C = 38

temp_forecast_F = (temp_forecast_C / 0.556) + 32

print(temp_forecast_F)

100.34532374100719

(b) Calculate the mean test score. Print "Your score was: " then the mean score as an integer.

In [3]:
# YOUR CODE HERE:

score1 = 65
score2 = 58
score3 = 66
score4 = 72

mean_score = (score1 + score2 + score3 + score4) / 4 

print("Compare this output:")
print("Your score was:" , mean_score, "<=float")
print("")
print("And this output:")
print("Your score was:" , int(mean_score), "<=integer")

Compare this output:
Your score was: 65.25 <=float

And this output:
Your score was: 65 <=integer

In [17]:
# Alternately:

import numpy as np

list_of_scores = [score1, score2, score3 , score4]

print("Your score was:", int(np.mean(list_of_scores))) # look up np.mean()

Your score was: 65

(c) The weather forecast is not great. Use `.replace()` to change it to something better.

In [18]:
# YOUR CODE HERE:

weather_forecast = "cold and rainy"

new_weather_forecast = weather_forecast.replace("cold", "warm")
new_weather_forecast = new_weather_forecast.replace("rainy", "sunny")

print(new_weather_forecast)

# NOTE: we can also look up documentation:
weather_forecast.replace?

warm and sunny

(d) Combine the four variables into a single string and print it

In [19]:
a = 'Welcome '
b = 'to '
c = 'lab session '
d = 1

# YOUR CODE HERE

print(a + b + c + str(d))

Welcome to lab session 1

#### EXERCISE 2: Too many donuts?
*Objective: handle strings and integers, test conditions*

Write a program that will:
1. Define a variable 'donuts_eaten'.
2. Print a string of the form 'Donuts consumed: `<count>`'. However if 10 or more donuts were eaten, then use the word 'many' instead of the actual count.

In [20]:
# YOUR CODE HERE:

donuts_eaten = 8

response = donuts_eaten

if donuts_eaten >= 10:
    response = 'many'

print('Donuts consumed: ', response)

Donuts consumed:  8

#### EXERCISE 3a: Age calculator
*Objective: Define variables, do basic math, convert data types*
    
Write a program that will:
1. Define a variable 'birth_year'
2. Define a variable 'current_year'
3. Calculate the person's age from these two
4. Print the output in format ("You are x years old.")

In [21]:
# YOUR CODE HERE:

birth_year = 1990
current_year = 2019

age = current_year - birth_year

print("You are {} years old.".format(age))

You are 29 years old.

#### EXERCISE 3b: Premier League salaries
*Objective: Define variables, do math, use conditional logic.*

1. Define two variables, `player_name` (a string), and `annual_salary` (an integer).
2. Print the player's name and their earnings per game (NB: they play 38 games per year).
3. Now define a Boolean variable `championship_winners`. Set it to `True` or `False`.
4. Test whether `championship_winners` is `True`. If so, print the player's earnings again giving them a 50% raise.

In [22]:
# YOUR CODE HERE:

player_name = 'Ronaldo'
annual_salary = 137000000
days_in_season = 38

print('{} earns ${} per month and ${} per day of the season.'.format(player_name,
    annual_salary / 12, annual_salary / days_in_season))

Ronaldo earns $11416666.666666666 per month and $3605263.1578947366 per day of the season.

#### EXERCISE 4: Higher or lower?
*Objective: Test conditions, use a counter.*

Write a program to:
1. Generate a random number (kept secret from the user).
2. Prompt the user "Guess a number" and record their input.
3. Tell them if they were correct, too high, or too low.

BONUS POINTS: limit the number of guesses to 5.

In [23]:
# YOUR CODE HERE:

import random
random_number = random.randint(0,10)

user_guess = int(input('Guess a number: '))
if user_guess > random_number:
    print("Too high")
elif user_guess < random_number:
    print("Too low")
else:
    print("Correct")

Guess a number: 7
Too high

#### EXERCISE 6: FizzBuzz
*Objective: Get a job at Amazon! (they use it in software engineer interviews)*

Write a script to:

* Print out the numbers from 1 to 20 but replacing numbers with 'Fizz' if divisible by 3, 'Buzz' if divisible by '5', and 'FizzBuzz' if divisible by 3 and 5.

Hint: the 'mod' operator, denoted %, is used to check divisibility. Example: 10 % 2 == 0.

In [24]:
# YOUR CODE HERE:


for n in range(1,21):
    if n % 3 == 0 and n % 5 == 0:
        print('FizzBuzz')
    elif n % 3 == 0:
        print('Fizz')
    elif n % 5 == 0:
        print('Buzz')
    else:
        print(n)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

#### EXERCISE 4: Dog's dinner
*Objective: Practice string manipulation*

1. Define two strings, a and b.
2. Your program should return a single string with a and b separated by a space, except swap the first 2 chars of each string.
* eg. 'dog', 'dinner' -> 'dig donner'

In [25]:
# YOUR CODE HERE:

a = 'dog'
b = 'dinner'

new_first_word = b[:2] + a[2:]
new_second_word = a[:2] + b[2:]

print(new_first_word + ' ' + new_second_word)

dig donner