# Lab 2

Answer the exercises or complete the tasks outlined in bold, using the specific method described if applicable.

#### EXERCISE 1: String drills
*Objective: Consolidate string manipulation, converting between data types where needed, using .format(), and not crashing due to quote mark issues.*


**1a: Combine these four variables into a single string and print it.**

In [194]:
a = 'Welcome to '
b = 'Python class '
c = 'lab '
d = 2

In [1]:
# YOUR CODE HERE

Welcome to Python class lab 2

**1b: Print `pi` to seven decimal places.**

Hint: `.format` helps format strings neatly (see Lecture 2 section 2).

In [14]:
# YOUR CODE HERE:

pi_approx = 355/113

Pi to 7 decimal places: 3.1415929

**1c: Print both of the following:**

    Nick says "hello"
    This is Dharana's sandwich

In [1]:
# YOUR CODE HERE:

#### EXERCISE 2: Tourist agency
*Objective: Iterate through lists, use string formatting.*

Write a program to print "Welcome to beautiful {country}!" for each country in the list.

In [200]:
country_list = ['Kazakhstan','Kenya', 'Kiribati', "Korea (DPRK)", 'Korea (ROC)', 'Kosovo', 'Kuwait', 'Kyrgyzstan']

In [202]:
# YOUR CODE HERE:

Welcome to beautiful Kazakhstan!
Welcome to beautiful Kenya!
Welcome to beautiful Kiribati!
Welcome to beautiful Korea (DPRK)!
Welcome to beautiful Korea (ROC)!
Welcome to beautiful Kosovo!
Welcome to beautiful Kuwait!
Welcome to beautiful Kyrgyzstan!

#### EXERCISE 3: Quick brown fox
**Split the string below into a list of words, then:**
* print only the second to fifth items in the list
* count the items in the list
* replace "dog" with "dinosaur"

In [138]:
rhyme = "The quick brown fox jumps over the lazy dog"

# YOUR CODE HERE:

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

['quick', 'brown', 'fox']

9

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dinosaur']

#### EXERCISE 4: Name formatter
**Reformat each name to match the following**: 
* LAST NAME, First name.

Note the capitalization and comma. Hint: use `.split()` and `.upper()`.

In [2]:
instructor1 = 'Gaurav Bhardwaj'
instructor2 = 'Mahmoud Elsayed'

# YOUR CODE HERE:

BHARDWAJ, Gaurav
ELSAYED, Mahmoud

#### EXERCISE 5: Dog's dinner
*Objective: Practice string manipulation*

1. Define two strings, a and b.
2. Your program should return a single string with a and b separated by a space, except swap the first 2 chars of each string.
* eg. 'dog', 'dinner' -> 'dig donner'

In [4]:
# YOUR CODE HERE:

Hint: when using Python's square-bracket indexing to access items from strings or lists, remember that indexing starts at zero. Here is why [computers count from zero](https://superuser.com/questions/578292/why-do-computers-count-from-zero).

#### EXERCISE 6: Tangled lists

*Objective: Navigate a set of lists nested inside lists, use square bracket indexing, use list comprehensions.*

Given this nested list, grab the word dragon:

In [206]:
my_list = [0,4,[4,3,2],[420, 250, [1,2,3,'dragon']],365,23,6]

'dragon'

Convert the following list from strings to integers:

In [60]:
# YOUR CODE HERE:

ZIP_list = ['10009','20009','20022','20034','90210']

[10009, 20009, 20034, 90210]

#### EXERCISE 7: Prime numbers
*Objective: Combine loops, logic conditions and math operations.*

Write a program to loop from 1 to 100 and print all the prime numbers

In [58]:
# YOUR CODE HERE:

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#### EXERCISE 8: List comprehensions
Use list comprehensions to do the following:
* 6a. List all numbers from 1 to 1000 that are divisible by 12.
* 6b. List all the holiday destinations that are less than 7 characters long.

In [1]:
# YOUR CODE HERE

holiday_destinations = ['maine','cornwall','ibiza','florida','bali','bognor regis']