# Lab 2

Answer the exercises or complete the tasks outlined in bold, using the specific method described if applicable.

#### EXERCISE 1: String drills
*Objective: Consolidate string manipulation, converting between data types where needed, using .format(), and not crashing due to quote mark issues.*


**1a: Combine these four variables into a single string and print it.**

In [1]:
a = 'Welcome to '
b = 'Python class '
c = 'lab '
d = 2

In [2]:
# YOUR CODE HERE

z = a + b + c + str(2)
z

'Welcome to Python class lab 2'

**1b: Print `pi` to seven decimal places.**

Hint: `.format` helps format strings neatly (see Lecture 2 section 2).

In [3]:
# YOUR CODE HERE:

pi_approx = 355/113

print("{:.7f}".format(pi_approx))

3.1415929

**1c: Print both of the following:**

    Nick says "hello"
    This is Dharana's sandwich

In [4]:
# YOUR CODE HERE: 

print('Nick says "hello"')
print ("This is Dharana's sandwich")

# TIP: When both ' and " are part of the string we can also use '''   ''' 
print ('''"But what if we wanted to print strings like these," she said. "Wouldn't that break the code?"''')

Nick says "hello"
This is Dharana's sandwich
"But what if we wanted to print strings like these," she said. "Wouldn't that break the code?"

#### EXERCISE 2: Tourist agency
*Objective: Iterate through lists, use string formatting.*

Write a program to print "Welcome to beautiful {country}!" for each country in the list.

In [5]:
country_list = ['Kazakhstan','Kenya', 'Kiribati', "Korea (DPRK)", 'Korea (ROC)', 'Kosovo', 'Kuwait', 'Kyrgyzstan']

In [6]:
# YOUR CODE HERE:

for country in country_list:
  print ("Welcome to beautiful", country, "!")

Welcome to beautiful Kazakhstan !
Welcome to beautiful Kenya !
Welcome to beautiful Kiribati !
Welcome to beautiful Korea (DPRK) !
Welcome to beautiful Korea (ROC) !
Welcome to beautiful Kosovo !
Welcome to beautiful Kuwait !
Welcome to beautiful Kyrgyzstan !

#### EXERCISE 3: Quick brown fox
**Split the string below into a list of words, then:**
* print only the second to fifth items in the list
* count the items in the list
* replace "dog" with "dinosaur"

In [7]:
rhyme = "The quick brown fox jumps over the lazy dog"

# YOUR CODE HERE:
rhyme_list = rhyme.split()
rhyme_list

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [8]:
rhyme_list[1:4]

['quick', 'brown', 'fox']

In [9]:
len(rhyme_list)

9

In [10]:
rhyme_list[8] = "dinosaur"
rhyme_list

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dinosaur']

#### EXERCISE 4: Name formatter
**Reformat each name to match the following**: 
* LAST NAME, First name.

Note the capitalization and comma. Hint: use `.split()` and `.upper()`.

In [11]:
instructor1 = 'Gaurav Bhardwaj'
instructor2 = 'Mahmoud Elsayed'

# YOUR CODE HERE:
for instructor in [instructor1, instructor2]:    
    flipped = "{}, {}".format(instructor.split(" ")[1].upper(), instructor.split(" ")[0])
    print(flipped)

BHARDWAJ, Gaurav
ELSAYED, Mahmoud

#### EXERCISE 5: Dog's dinner
*Objective: Practice string manipulation*

1. Define two strings, a and b.
2. Your program should return a single string with a and b separated by a space, except swap the first 2 chars of each string.
* eg. 'dog', 'dinner' -> 'dig donner'

In [12]:
# YOUR CODE HERE:

a = 'dog'
b = 'dinner'

new_first_word = b[:2] + a[2:]
new_second_word = a[:2] + b[2:]

print(new_first_word + ' ' + new_second_word)

dig donner

Hint: when using Python's square-bracket indexing to access items from strings or lists, remember that indexing starts at zero. Here is why [computers count from zero](https://superuser.com/questions/578292/why-do-computers-count-from-zero).

#### EXERCISE 6: Tangled lists

*Objective: Navigate a set of lists nested inside lists, use square bracket indexing, use list comprehensions.*

Given this nested list, grab the word dragon:

In [13]:
my_list = [0,4,[4,3,2],[420, 250, [1,2,3,'dragon']],365,23,6]

In [14]:
my_list[3][2][3]

'dragon'

Convert the following list from strings to integers:

In [15]:
# YOUR CODE HERE:

ZIP_list = ['10009','20009','20022','20034','90210']
zip_list = [int(i) for i in ZIP_list]
zip_list

[10009, 20009, 20022, 20034, 90210]

#### EXERCISE 7: Prime numbers
*Objective: Combine loops, logic conditions and math operations.*

Write a program to loop from 1 to 100 and print all the prime numbers

In [16]:
# YOUR CODE HERE:
primes=[]

for value in range(1,101):         
   if value > 1: 
       for n in range(2, value): 
           if (value % n) == 0: 
               break
       else: 
           primes.append(value)
          
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#### EXERCISE 8: List comprehensions
Use list comprehensions to do the following:
* 6a. List all numbers from 1 to 1000 that are divisible by 12.
* 6b. List all the holiday destinations that are less than 7 characters long.

In [17]:
# YOUR CODE HERE

divisible_by_12 = [i for i in range(1,1001) if i%12==0 ]

print(divisible_by_12)

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192, 204, 216, 228, 240, 252, 264, 276, 288, 300, 312, 324, 336, 348, 360, 372, 384, 396, 408, 420, 432, 444, 456, 468, 480, 492, 504, 516, 528, 540, 552, 564, 576, 588, 600, 612, 624, 636, 648, 660, 672, 684, 696, 708, 720, 732, 744, 756, 768, 780, 792, 804, 816, 828, 840, 852, 864, 876, 888, 900, 912, 924, 936, 948, 960, 972, 984, 996]

In [18]:
# YOUR CODE HERE

holiday_destinations = ['maine','cornwall','ibiza','florida','bali','bognor regis']

hol_dest=[dest for dest in holiday_destinations if len(dest)<7]
hol_dest

['maine', 'ibiza', 'bali']