In [47]:
import pandas as pd

## Day 3 afternoon: recap

#### Strings and loops

In [ ]:
# print "one hundred divided by three", plus the result

one hundred divided by three: 33.333333333333336

In [ ]:
# do the same with .format()

one hundred divided by three:  33.333333333333336

In [ ]:
# find help on limiting this to two decimal places

one hundred divided by three: 33.33

In [ ]:
# check this string for dragons

In [7]:
sentence = "Under the bridge at Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch lies a dragon"

True

In [ ]:
# loop through each item and print out "we finished" plus the item

In [11]:
['day 1', 'day 2', 'day 3']

In [ ]:
# any ideas to make it "nearly finished" day 3?

#### Dictionaries

In [12]:
# create a dictionary with three English:Spanish translations

In [13]:
# free Sally

In [19]:
trap = [0,1,2,["ha, you're trapped", 4, {"let me out":{"help":1,"please":"Sally"}}]]

'Sally'

#### List comprehensions

In [24]:
# create a list of all cubed numbers up to 10

In [25]:
# convert the strings to floats

In [28]:
mylist = ['3.3','2.1','5','99.9']

In [30]:
# do the same but multiply them by 10

#### Keeping count (mod operator)

In [ ]:
# loop from 1 to 1 million, printing out every 5000th number

In [37]:
# bonus: print the percentage progress instead

#### Numpy arrays

In [38]:
# make a numpy array from this list

In [ ]:
[1,2,3,4]

In [39]:
# sum the values

In [40]:
# make a numpy array with -10, -9, -8 ... 8, 9, 10

In [ ]:
# get the second to the fifth elements

In [41]:
# cube the values

#### Pandas Series

In [ ]:
# turn the array into a Pandas Series

In [42]:
# plot the values

#### Pandas DataFrames
Make a DataFrame showing:
* pies sold: 5, dollar revenue 12.50
* cakes sold: 8, dollar revenues 8.45

In [43]:
# first the dictionary

In [44]:
# then the df

In [45]:
# how many staff live in Maryland, Virginia or DC?

In [50]:
staff_locations = pd.DataFrame({"Pov GP":['Maryland','Maryland','Maryland','Virginia','DC','Virginia','Maryland'],
                               "GSURR": ['Virginia', 'Maryland', 'Virginia','DC','DC','Maryland','DC']})