## Lab 4

_Objective_: clean and manipulate the education outcomes toy dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Set path to toy education outcomes dataset

path = r'https://raw.githubusercontent.com/worldbank/Python-for-Data-Science/master/June_2021_ETEC/day_2/data/data_edu.csv'

In [3]:
# Read data from csv file into dataframe

df = pd.read_csv(path, encoding = 'utf_8')

#### Inspect and prepare the dataset

In [4]:
df.head()

,country_id,country,country_school_id,country_student_id,student_gender,computer_at_home,internet_at_home,immigration_status,early_education,repeated_grades,school_location,school_type,school_size,class_size,socioeconomic_index,math_score,reading_score,parent_education
0,Argentina,Argentina,3200001,3213049,Female,No,Yes,First-Generation,Attended ECEC for at least two but less than t...,Repeated a grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-1.3730,314.25031,424.07239,"Post secondary, non-tertiary"
1,Argentina,Argentina,3200001,3203374,Female,Yes,Yes,Native,Attended ECEC for at least two but less than t...,Did not repeat a grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-1.1825,356.07629,380.26309,"Post secondary, non-tertiary"
2,Argentina,Argentina,3200001,3204844,Male,No,No,First-Generation,Attended ECEC for at least one but less than t...,Did not repeat a grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-2.3486,338.08029,384.89191,Lower secondary
3,Argentina,Argentina,3200001,3211193,Female,Yes,Yes,Native,Attended ECEC for at least two but less than t...,Did not repeat a grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-0.9259,310.38690,392.88031,"Post secondary, non-tertiary"
4,Argentina,Argentina,3200001,3213736,Female,No,Yes,Native,Attended ECEC for at least three but less than...,Did not repeat a grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-0.9622,397.42441,452.03439,"Post secondary, tertiary"

In [5]:
# Note how this syntax works. You could add extra columns that interest you.
my_cols = [  'country',
             'country_school_id',
             'country_student_id',
             'student_gender',
             'repeated_grades',
             'school_type',
             'school_size',
             'class_size',
             'socioeconomic_index',
             'math_score',
             'reading_score',
             'parent_education'
          ]
df = df[my_cols]
df.head(2)

,country,country_school_id,country_student_id,student_gender,repeated_grades,school_type,school_size,class_size,socioeconomic_index,math_score,reading_score,parent_education
0,Argentina,3200001,3213049,Female,Repeated a grade,Public,570,31-35 students,-1.3730,314.25031,424.07239,"Post secondary, non-tertiary"
1,Argentina,3200001,3203374,Female,Did not repeat a grade,Public,570,31-35 students,-1.1825,356.07629,380.26309,"Post secondary, non-tertiary"

In [6]:
df.columns.tolist()

['country',
 'country_school_id',
 'country_student_id',
 'student_gender',
 'repeated_grades',
 'school_type',
 'school_size',
 'class_size',
 'socioeconomic_index',
 'math_score',
 'reading_score',
 'parent_education']

### Exercise 1. 
__Summarize data using mean, min/max(), describe() etc.__

* a: Find out the maximum and minimum math score globally 
* b: Find out the mean and median reading score for students in Japan
* c: BONUS: Can you identify the student who has the highest math score among female students? Which country is this student from? What is this student's reading_score?

In [7]:
# 1a:

In [ ]:
# Your code here:

In [8]:
# 1b.

In [ ]:
# Your code here:

In [9]:
# 1c BONUS:

In [ ]:
# Your code here:

### Exercise 2: 

__Selecting values with boolean criteria + dealing with null values__

* a: Among students in Finland, what is the share of students who scored higher than or equal to 500 in maths?
* b: Is it true that median reading scores are higher after omitting students whose socioeconomic_index is listed as null? (HINT: Compare the median reading_score with and without omitting null values for socioeconomic status)

In [20]:
# 2a

In [ ]:
# Your code here:

In [21]:
# 2b.

In [ ]:
# Your code here:

### Exercise 3.

__Practice using pandas.Series.value_counts, pandas.Series.unique(), and pandas.Series.nunique()__

* a: What percentage of students are male? Can you round the answer to three decimal places? # Look up pandas.Series.value_counts() and the round() function
* b: Find out the share of male students in public schools?
* c: How many unique schools are represented from Argentina? # pandas.Series.unique()
* d: BONUS: How many schools only have one student represented? How many have less than 10?

In [10]:
# 3a

In [ ]:
# Your code here:

In [13]:
# 3b:

In [ ]:
# Your code here:

In [15]:
# 3c.

In [ ]:
# Your code here:

In [16]:
# 3d BONUS:

In [ ]:
# Your code here:

### Exercise 4:

Look up the [pandas.Series.plot](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.html) function, and some [examples of how to use it](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html).

Explore any questions that interest you by plotting charts, for example:
  
* a: Does the breakdown students by school type? (pie chart)
* b: What does the distribution of socioeconomic_index look like (histogram)
* c: Do math scores differ between students who repeated a grade vs those who did not repeat a grade? (boxplot of math_score by repeated_grades) 
* d: BONUS: Can you re-create this boxplot omitting the "No Response" values?

In [22]:
# 4a. Pie Chart

In [ ]:
# Your code here:

In [23]:
# 4b. Histogram

In [ ]:
# Your code here:

In [24]:
# 4c: Boxplot

In [ ]:
# Your code here:

In [26]:
# 4d BONUS: Boxplot

In [ ]:
# Your code here: