# Lab 2

Answer the exercises or complete the tasks outlined in bold, using the specific method described if applicable.

#### EXERCISE 1: String drills
*Objective: Consolidate string manipulation, converting between data types where needed, using .format(), and not crashing due to quote mark issues.*


**1a: Combine these four variables into a single string and print it.**

In [0]:
a = 'Welcome to '
b = 'Python class '
c = 'lab '
d = 2

In [0]:
# YOUR CODE HERE
z=a+b+c+str(2)
z

'Welcome to Python class lab 2'

**1b: Print `pi` to seven decimal places.**

In [0]:
# YOUR CODE HERE:

pi_approx = 355/113

print("{:.7f}".format(pi_approx))

3.1415929

**1c: Print both of the following:**

    Nick says "hello"
    This is Dharana's sandwich

In [0]:
# YOUR CODE HERE: 
print('Nick says "hello"')
print ("This is Dharana's sandwich")

# TIP: When both ' and " are part of the string we can also use '''   ''' 
print ('''"But what if we wanted to print strings like these," she said. "Wouldn't that break the code?"''')

Nick says "hello"
This is Dharana's sandwich
"But what if we wanted to print strings like these," she said. "Wouldn't that break the code?"

#### EXERCISE 2: Tourist agency
*Objective: Iterate through lists, use string formatting.*

Write a program to print "Welcome to beautiful {country}!" for each country in the list.

In [0]:
country_list = ['Kazakhstan','Kenya', 'Kiribati', "Korea (DPRK)", 'Korea (ROC)', 'Kosovo', 'Kuwait', 'Kyrgyzstan']

In [0]:
# YOUR CODE HERE:
for country in country_list:
  print ("Welcome to beautiful", country, "!")

Welcome to beautiful Kazakhstan !
Welcome to beautiful Kenya !
Welcome to beautiful Kiribati !
Welcome to beautiful Korea (DPRK) !
Welcome to beautiful Korea (ROC) !
Welcome to beautiful Kosovo !
Welcome to beautiful Kuwait !
Welcome to beautiful Kyrgyzstan !

#### EXERCISE 3: Quick brown fox
**Split the string below into a list of words, then:**
* print only the second to fifth items in the list
* count the items in the list
* replace "dog" with "dinosaur"

In [0]:
rhyme = "The quick brown fox jumps over the lazy dog"

# YOUR CODE HERE:
rhyme_list=rhyme.split()
rhyme_list

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [0]:
rhyme_list[1:4]

['quick', 'brown', 'fox']

In [0]:
len(rhyme_list)

9

In [0]:
rhyme_list[8]="dinosaur"
rhyme_list

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dinosaur']

#### EXERCISE 4: Tangled lists

*Objective: Navigate a set of lists nested inside lists, use square bracket indexing, use list comprehensions.*

Given this nested list, grab the word dragon:

In [0]:
my_list = [0,4,[4,3,2],[420, 250, [1,2,3,'dragon']],365,23,6]

In [0]:
my_list[3][2][3]

'dragon'

Convert the following list from strings to integers:

In [0]:
# YOUR CODE HERE:

ZIP_list = ['10009','20009','20022','20034','90210']
zip_list = [int(i) for i in ZIP_list]
zip_list

[10009, 20009, 20022, 20034, 90210]

#### EXERCISE 5: Prime numbers
*Objective: Combine loops, logic conditions and math operations.*

Write a program to loop from 1 to 100 and print all the prime numbers

In [1]:
# YOUR CODE HERE:

primes=[]

for value in range(1,101):         
   if value > 1: 
       for n in range(2, value): 
           if (value % n) == 0: 
               break
       else: 
           primes.append(value)
          
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#### EXERCISE 6: List comprehensions
Use list comprehensions to do the following:
* 6a. List all numbers from 1 to 1000 that are divisible by 12.
* 6b. List all the holiday destinations that are less than 7 characters long.

In [0]:
# YOUR CODE HERE

holiday_destinations = ['maine','cornwall','ibiza','florida','bali','bognor regis']

hol_dest=[dest for dest in holiday_destinations if len(dest)<7]
hol_dest

['maine', 'ibiza', 'bali']

#### EXERCISE 7: Phone directory
*Objective: Use a list comprehension and list methods.*

Take a list of names, and get them in phone directory order ("first name, last name", in alphabetical order):

In [0]:
names = ['John Lennon', 'Serena Williams', 'Ingrid Bergman', 'Mikhail Gorbachev']

directory=[name.split()[1]+','+name.split()[0] for name in names]
directory.sort()
directory

['Bergman,Ingrid', 'Gorbachev,Mikhail', 'Lennon,John', 'Williams,Serena']